<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/welcome.css">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round|Roboto" rel="stylesheet">
  <title>Welcome</title>
</head>

<body>
<div class="header">
 <h1>ScareFix</h1>
 <ul>
  <li><a href="/story/1">story 1</a> </li>
 <li> <a href="/story/2">story 2</a></li>
  <li><a href="/story/3">story 2</a></li>
  <li><a href="/statement">Download Your Statement</a></li>
 </ul>
 <p onclick="window.location.href='/logout'">Log Out</p>
</div>
  <div class="welcome_container">
    <h1>Welcome to SCAREFIX (<%= email %>)</h1>
  </div>
</body>

</html>